.card {
	background-color: $primary-color;
	width: 100%;
	height: 300px;
	border-radius: $border-radius;
	background-size: cover;
	background-position: center;

	// disposition du titre
	display: flex;
	align-items: flex-end;
	color: white;
	h1 {
		width: 50%;
		margin: 0 auto 1.5rem 1.5rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
}
