details {
	background-color: $secondary-color;
	margin: 1rem 0;

	summary {
		cursor: pointer;
		font-weight: 700;
		background-color: $primary-color;
		color: $secondary-color;
		padding: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;

		.emoji {
			width: 20px;
			height: 20px;
			background-size: contain;
			background-repeat: no-repeat;
			margin-left: 0.5rem;
			transition: transform 0.3s ease-in-out;
		}
	}

	p {
		padding: 1.5rem 1rem;
	}

	&[open] summary .emoji {
		transform: rotate(-180deg);
	}

	.equipments {
		list-style: none;
		padding: 1.1rem 1rem;

		li {
			line-height: 1.5;
		}
	}
}

@include respond-to("tablet") {
	details {
		max-width: 80%;
		margin: 1rem auto;
		summary {
			font-size: 1.2rem;
		}
	}
}
