$primary-color: #ff6060;
$secondary-color: #f6f6f6;

$linear-gradient: linear-gradient(
	180deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(10, 10, 10, 0) 42%,
	rgba(4, 4, 4, 0.205) 99.99%,
	rgba(0, 0, 0, 0.5) 100%
);

// helpers/_variables.scss
$breakpoints: (
	"mobile": 480px,
	"tablet": 768px,
	"desktop": 1024px,
	"extra": 1200px,
);
